<!DOCTYPE html>
    <html lang="EN">
    <head>
        <!--============ META TAGS =============-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:title" content="samir.cx">
        <meta property="og:description" content="Personal Portfolio Website.">
        <meta name="theme-color" content="#906891">

        <!--============= FAVICON =============-->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        
        <!--=========== REMIX ICONS ===========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/css/styles.css">

        <title>Samir Ali</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="profile container">

            <!-- Theme button -->
            <i class="ri-moon-line no-hover change-theme" id="theme-button"></i>

            <div class="profile-container grid">
                <div class="profile-data">
                    <div class="profile-border">
                        <div class="profile-perfil">
                        </div>
                    </div>

                    <h2 class="profile-name">Samir Ali</h2>
                    <h3 class="profile-profession">Computer Science Student</h3>

                    <ul class="profile-social ">
                        <a href="https://linkedin.com/in/04-Samir-Ali/" target="_blank" class="profile-social-link">
                            <i class="ri-linkedin-box-line no-hover"></i>
                        </a>
                        <a href="https://github.com/04Samir" target="_blank" class="profile-social-link">
                            <i class="ri-github-line no-hover"></i>
                        </a>
                    </ul>
                </div>

                <div class="profile-buttons">
                    <a href="mailto: me@samir.cx" class="button">
                        Contact Me <i class="ri-mail-line"></i>
                    </a>
                </div>
            </div>
        </header>

        <!--=============== MAIN ===============-->
        <main class="main">
            <section class="filters container">
                <!--=============== FILTERS TABS ===============-->
                <ul class="filters-content">
                    <button class="filters-button no-hover filter-tab-active" data-target="#skills">
                        Skills
                    </button>
                    <button class="filters-button no-hover" data-target="#projects">
                        Projects
                    </button>
                </ul>

                <div class="filters-sections">
                    <!--=============== SKILLS ===============-->
                    <div class="skills-content grid filters-active" data-content id="skills">
                        <div class="skills-area">
                            <h3 class="skills-title">Software Development</h3>
                            <div class="skills-box">
                                <div class="skills-group">
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">Python</h3>
                                            <span class="skills-level">Advanced</span>
                                        </div>
                                    </div>
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">Java</h3>
                                            <span class="skills-level">Moderate</span>
                                        </div>
                                    </div>
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">C#</h3>
                                            <span class="skills-level">Basic</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="skills-area">
                            <h3 class="skills-title">Database Systems</h3>
                            <div class="skills-box">
                                <div class="skills-group">
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">SQL</h3>
                                            <span class="skills-level">Advanced</span>
                                        </div>
                                    </div>
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">MongoDB</h3>
                                            <span class="skills-level">Advanced</span>
                                        </div>
                                    </div>
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">Redis</h3>
                                            <span class="skills-level">Basic</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="skills-area">
                            <h3 class="skills-title">Front-End Web Development</h3>
                            <div class="skills-box">
                                <div class="skills-group">
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">HTML, CSS, JS</h3>
                                            <span class="skills-level">Advanced</span>
                                        </div>
                                    </div>
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">CSS Frameworks</h3>
                                            <span class="skills-level">Advanced</span>
                                        </div>
                                    </div>
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">React.JS</h3>
                                            <span class="skills-level">Moderate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="skills-area">
                            <h3 class="skills-title">Back-End Web Development</h3>
                            <div class="skills-box">
                                <div class="skills-group">
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">Python</h3>
                                            <span class="skills-level">Advanced</span>
                                        </div>
                                    </div>
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">NodeJS</h3>
                                            <span class="skills-level">Advanced</span>
                                        </div>
                                    </div>
                                    <div class="skills-data">
                                        <i class="ri-checkbox-circle-line"></i>
                                        <div>
                                            <h3 class="skills-name">TypeScript</h3>
                                            <span class="skills-level">Moderate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--=============== PROJECTS ===============-->
                    <div class="projects-content grid" data-content id="projects">
                        <article class="projects-card">
                            <img src="/img/postit.png" alt="" class="projects-img">
                            <div class="projects-modal">
                                <div>
                                    <a href="https://projects.samir.cx/PostiT" class="projects-button" target="_blank">
                                        <i class="ri-link"></i><span class="projects-title" style="font-weight: 600;"> PostIt: Forum Web-App</span>
                                    </a>
                                    <br>
                                    <span class="projects-subtitle">Created using Express.JS & EJS for a Module at University.</span>
                                </div>
                            </div>
                        </article>
                        <article class="projects-card">
                            <img src="/img/drawing.png" alt="" class="projects-img">
                            <div class="projects-modal">
                                <div>
                                    <a href="https://projects.samir.cx/Drawing-Application" class="projects-button" target="_blank">
                                        <i class="ri-link"></i><span class="projects-title" style="font-weight: 600;"> Drawing Application</span>
                                    </a>
                                    <br>
                                    <span class="projects-subtitle">Created using P5.JS for a Module at University.</span>
                                </div>
                            </div>
                        </article>
                        <article class="projects-card">
                            <img src="/img/platformer.png" alt="Platformer" class="projects-img">
                            <div class="projects-modal">
                                <div>
                                    <a href="https://projects.samir.cx/Penguin-Platformer" class="projects-button" target="_blank">
                                        <i class="ri-link"></i><span class="projects-title" style="font-weight: 600;"> Platformer Game</span>
                                    </a>
                                    <br>
                                    <span class="projects-subtitle">Created using P5.JS for a Module at University.</span>
                                </div>
                            </div>
                        </article>
                        <article class="projects-card">
                            <img src="/img/snake.png" alt="Snake" class="projects-img">
                            <div class="projects-modal">
                                <div>
                                    <a href="javascript:;" class="projects-button">
                                        <span class="projects-title" style="font-weight: 600;">Snake Game</span>
                                    </a>
                                    <br>
                                    <span class="projects-subtitle">Created using Python Tkinter for my A-Levels.</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>

        <!--=============== FOOTER ===============-->
        <footer class="footer container">
            <span class="footer-copy no-hover">
                &#169; 2022-Present Samir Ali.
            </span>
        </footer>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="/js/lib/jQuery-3.6.4.min.js"></script>
        <script src="/js/lib/scrollReveal.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
